#recipes-bar {
  width: 20%;
  height: 90vh;
  border: 2px solid black;
  float: left;
  padding: 0;
  text-align: center;
}

#menu-title {
  width: 20%;
  height: 10vh;
  border: 2px solid black;
  float:left;
  padding-left: 10px;
}

#navbar {
  width: 80%;
  height: 10vh;
  float:left;
  border: 2px solid black;
}

#navbar button {
  margin-top: 2.5vh;
  float: right;
}

#instructions {
  width: 50%;
  height: 82vh;
  float: right;
  margin-top: 20px;
  padding: 10px;
}

#ingridients input {
  width: 20%;
}

.text-area {
  width: 80%;
  height: 90vh;
  border: 2px solid black;
  padding: 20px;
  float:left;
}

.menu-btn {
  display: table;
  width: 100%;
  height: 7%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 5px;
  margin-bottom: 4px;
}

.menu-btn p {
  width: 100%;
  display: table-cell;
  word-break: break-all;
  vertical-align: middle;
  text-align: center;
}

.btn {
  display: inline-block;
  width: 150px;
}

.overlay {
  position: absolute;
  width: 20%;
  height: 100vh;
  z-index: 10000;
  background: black;
  opacity: 0.5;
}

.overlay.ng-enter, .overlay.ng-leave {
/*-webkit-transition: all 1s linear;
  transition: all 1s linear;*/
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.overlay.ng-enter {
  opacity: 0;
}

.overlay.ng-enter.ng-enter-active {
  opacity: 0.5;
}

.overlay.ng-leave.ng-leave-active {
  opacity: 0;
}

.overlay.ng-leave {
  opacity: 0.5;
}

.oddButton {
  background-color: #3c92c2;
}

.evenButton {
  background-color: white;
}

input {
  width: 150px;
  height: 35px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
}
